---------------------------------------------
Impossible Tic-Tac-Toe - Requirements and Flow
---------------------------------------------

----- Implementation -----
- C#
- Command Line User Interface

----- Features -----
- Unbeatable AI (wins if possible, else draws at worst)
- Player vs. Computer games
- Player vs. Player games

----- Game Flow -----
1. Program Starts
2. Game Type Selection
  a. Player vs. Player (PvP)
  b. Player vs. Computer (PvC)
3. Name Selection
  a. If PvP, player1 selects name, then player2 selects name
  b. If PvC, player selects name, then computer randomly selects from a list of options
4. Token Selection
  a. If PvP, player1 selects token, then player2 selects token
  b. If PvC, player selects token, then computer randomly selects from a list of options
5. Number of Rounds to Win Selection
  a. Sets number of rounds required to win (as opposed to number of total rounds)
6. First Player Selection
  a. Sets the player who will go first (rotates between rounds)
7. Game Starts
  a. Begin Game Loop
    1) Checks for game winner, and breaks from the loop if warranted
    2) Begin Round Loop
      - Checks for round winner, and breaks from the loop if warranted
      - Scores updated
      - Restart Round Loop
    3) Scores updated
    4) Restart Game Loop
8. Winner message displayed
9. Program exits
